<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532745856576-nt14fqn8mal13tdr3i8iarlu7g27lp3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532745856576-nt14fqn8mal13tdr3i8iarlu7g27lp3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBm9iu0AK9kNcs332t66a6dgu9OHZJuTLM</string>
	<key>GCM_SENDER_ID</key>
	<string>532745856576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nutri.io</string>
	<key>PROJECT_ID</key>
	<string>nutri-45d59</string>
	<key>STORAGE_BUCKET</key>
	<string>nutri-45d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532745856576:ios:cdab6bc582eedf0c88a1a5</string>
</dict>
</plist>
