<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-08-17T03:48:22Z</date>
	<key>WorkspacePath</key>
	<string>/Users/var/Desktop/products/nutri/Nuclear/macos/Runner.xcworkspace</string>
</dict>
</plist>
